<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>
                        Quantity
                    </th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in cart">
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{item.Name}}</a></h4>
                                <h5 class="media-heading"> by <a href="#">{{item.Brand}}</a></h5>
                                <span>Status: </span><span class="text-success"><strong ng-if>{{item.InStock ? 'In Stock' : 'Out Of Stock'}}</strong></span>
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value="1">
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{item.Price}}</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{item.TotalPrice}}</strong></td>
                    <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" ng-click="removeItem(item.Id)" >
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>